{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="h1 mb-3 mt-3">Page non trouvée</h1>

    <p class="text-light">
        La page n'a pas été trouvée <br> 
        <a href="{{ path('app_home') }}">Retour à l'accueil</a>.
    </p>

{% endblock %}